{% extends "home.html" %}

{% block body %}

<h1> You are now inside </h1>
<p>  Look the TV is on 📺</p>
<form action="/home/inside" method ="POST">
    <p>Add guests <input type = "text" name ="name" /> </p>
</form>

<span> Guests present:</span>
{% if guests %}
    {% for guest in guests %}
        <span> {{ guest }} </span>
    {% endfor %}
{% endif %}
<form action="/clearGuestList" method="POST"> 
    <button name="clear"> Clear guest list</button>
</form>


<br><br>
<form action="/upload" method="post"  enctype=multipart/form-data>
    <input type="file" name="file" />
    <button type="submit">Add image</button>
</form>

{% if image %}
     <img src="/static/uploads/{{image}}" style="width:400px;height:400px;" />
{% endif %}
{% if error %}
    alert(Error: {{error}})
{% endif %}



{% endblock %}