<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script 
        src="{{ url_for('static', filename='script.js') }}">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>{% block title%} 🏠 <-- you are here {% endblock %}</title> 
    {% endblock %}
</head>
<body>
    <header>
        <nav>   
            <a href="/inside"> Inside </a> 
            <a href="/about"> About </a>
            <a href="/home"> Home  </a> 
            <a href="#"> Profile </a> 
            {% if current_user.is_authenticated %}
                <a href="/auth/logout">Logout</a>
                {% if current_user.role == "Admin" %}
                <a href="/admin/register">Register</a>
                <a href="/admin/users">Users</a>
                {% endif %}
            {% else %}
                <a href="/auth/login">Login</a>
            {% endif %}
            <a href="/milkbox/">Milkbox</a>
        </nav>
    </header>


    {% block body %}
    {% if person %}
        <h1>Welcome home {{ person }} 🏠</h1>
    {% else %}
        <h1>Welcome to this House 🏠</h1>
    {% endif %}
    {% endblock %}
</body>
</html>