{% extends "home.html" %}

{% block body %}

<br>
    <div id="userInput">
        <form action="/addUser" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" minlength="3"><br><br>

            <label for="age">Age:</label>
            <input type="text" id="age" name="age"><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength="4"><br><br>


            <label for="role">User</label>
            <input type="radio" id="user" name="role" value="User">
            <label for="role">Admin</label>
            <input type="radio" id="admin" name="role" value="Admin">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

<p> Users:</p>
{% if users %}
    {% for user in users %}
        <div>
            <form action="/deleteUser" method="POST"> 
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="name" value="{{ user.name }}">
                <span> Name: {{ user.name}}  Age: {{user.age}}  </span>
                <button name="delete_user"> Delete </button>
            </form>
        </div>
    {% endfor %}
{% endif %}


<p>Admins</p>
{% if admins %}
    {% for admin in admins %}
        <div>
            <form action="/deleteUser" method="POST"> 
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="name" value="{{ admin.name }}">
                <span> Name: {{ admin.name}}  Age: {{admin.age}}  </span>
                <button name="delete_user"> Delete </button>
            </form>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}